/*  Color Story

color: #00c6d8; Dark Turqoise
color: #750245; Pansy Purple
color: #FFFFFF; White
Color: #000000; Black
color: #61AD47; GReen RYB

*/

/* font family

<h1> font-family: active, sans-serif;
<h2> font-family: active, sans-serif;

<h3>font-family: rock-salt-pro, sans-serif;
<h4>font-family: rock-salt-pro, sans-serif;
<h5>font-family: skippy-sharp, sans-serif;
<h6>font-family: marydale, sans-serif;
<p> font-family: typeka, serif;

*/

/* ########### Defaults ########### */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: typeka, serif;
  background-image: url(../Images/Mobile/hearts.png);
  background-color: #eacdc2c0;
  background-size: cover;
  background-repeat: no-repeat repeat;
  position: absolute;
  width: 100%;
  line-height: 1;
}

h1 {
  font-family: active, sans-serif;
}
h2 {
  font-family: active, sans-serif;
}
h3 {
  font-family: rock-salt-pro, sans-serif;
}
h4 {
  font-family: rock-salt-pro, sans-serif;
}
h5 {
  font-family: skippy-sharp, sans-serif;
}
h6 {
  font-family: marydale, sans-serif;
}
p {
  font-family: typeka, serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

Nav,
header,
footer {
  display: block;
}

/* ########################## NAV BAR ############################### */

nav {
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: #00c6d8;
}

.topNav{
  overflow: hidden;
  float: left;
}

.topNav li a{
  color: black;
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: .5em;
  text-transform: uppercase;
}


header {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

.benifits {
  overflow: hidden;
}

.benifits ul {
  list-style: none;
  font-size: 1.5em;
  float: left;
  padding: 0em 1em;
  padding-bottom: .5em;
}

.benifits ul li{

}

.email-benifit {
  overflow: hidden;
  text-align: center;
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  padding: .5em 0em;
  width: 100%;
}
