/*  Color Story

color: #00c6d8; Dark Turqoise
color: #750245; Pansy Purple
color: #FFFFFF; White
Color: #000000; Black
color: #61AD47; GReen RYB

*/

/* font family

<h1> font-family: active, sans-serif;
<h2> font-family: active, sans-serif;

<h3>font-family: rock-salt-pro, sans-serif;
<h4>font-family: rock-salt-pro, sans-serif;
<h5>font-family: skippy-sharp, sans-serif;
<h6>font-family: marydale, sans-serif;
<p> font-family: typeka, serif;

*/

/* ########### Defaults ########### */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: typeka, serif;
  background-image: url(../Images/Mobile/hearts.png);
  background-color: #eacdc2c0;
  background-size: cover;
  background-repeat: no-repeat repeat;
  position: absolute;
  width: 100%;
  line-height: 1.5;
  min-height: 16px;
}

h1 {
  font-family: active, sans-serif;
}
h2 {
  font-family: active, sans-serif;
}
h3 {
  font-family: rock-salt-pro, sans-serif;
}
h4 {
  font-family: rock-salt-pro, sans-serif;
}
h5 {
  font-family: skippy-sharp, sans-serif;
}
h6 {
  font-family: marydale, sans-serif;
}
p {
  font-family: typeka, serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

Nav,
header,
footer {
  display: block;
}

/* ########################## NAV BAR ############################### */

nav {
  position: fixed;
  background-color: #00c6d8;
  box-shadow: black 0em 2rem 5rem;
  border-bottom: black solid 0.5rem;
  min-width: 100vw;
  max-height: auto;
}

.topNav {
  overflow: hidden;

}

.topNav li {
  display: block;
}


.topNav li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  min-height: 16px;
  text-transform: uppercase;
  line-height: 2rem;
  float: left;
  text-align: center;
  min-width: 19vw;
  padding: .1em;
}

.topNav li a::before, .topNav li a::after{
  display: inline-block;
    content: "";
    border-top: .1em solid black;
    width: .1em;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.topNav li a:hover {
  color: white;
}

/* ##################### Benifits #################### */

/* header {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
} */

.benifits {
  overflow: hidden;
  display: grid;
  align-items: center;
}

#descriptors {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  word-spacing: 9em;
  padding-bottom: 1em;
  padding-left: 2em;
}

#emailTop {
  text-transform: uppercase;
  color: #750245;
  overflow: hidden;
  font-size: 2rem;
  letter-spacing: .5em;
  line-height: 2rem;
  padding-left: 1em;
  padding-top: .5em;
}


/* ############################ Social buttons Top ######################### */

.social-buttons{
  display: inline;
  justify-content: end;
  float: right;
  padding-top: 1em;
}

.social-buttons a{
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: auto 2em;
  box-shadow: rgba(0, 0, 0, 0.342) 3px 3px 20px,rgba(0, 0, 0, 0.349) -4px -4px 20px;
  border: rgba(0, 0, 0, 0.603) solid .1em;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  transition: .5s;
  border-radius: 50%;
}

.social-buttons a:nth-child(1):hover{
  color: white;
  border-radius: 50%;
  background-color: #61AD47;
}
.social-buttons a:nth-child(2):hover{
  color: black;
  border-radius: 50%;
  background-color:#61AD47;
}
.social-buttons a:nth-child(3):hover{
  color: black;
  border-radius: 50%;
  background-color: #61AD47;
}
.social-buttons a:nth-child(4):hover{
  color: black;
  border-radius: 50%;
  background-color: #61AD47;
}

hr{
  border-top: 1em dotted black;
  border-bottom: none;
}

/* ################### Mobile ###################### */
