/*  Color Story

color: #00c6d8; Dark Turqoise
color: #750245; Pansy Purple
color: #FFFFFF; White
Color: #000000; Black
color: #61AD47; GReen RYB

*/

/* font family

<h1> font-family: active, sans-serif;
<h2> font-family: active, sans-serif;

<h3>font-family: rock-salt-pro, sans-serif;
<h4>font-family: rock-salt-pro, sans-serif;
<h5>font-family: skippy-sharp, sans-serif;
<h6>font-family: marydale, sans-serif;
<p> font-family: typeka, serif;

*/

/* ########### Defaults ########### */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: typeka, serif;
  background-image: url(../Images/Mobile/background\ full\ size.svg);
  background-size: cover;
  background-repeat: no-repeat repeat;
  position: absolute;
  width: 100%;
}

h1 {
  font-family: active, sans-serif;
}
h2 {
  font-family: active, sans-serif;
}
h3 {
  font-family: rock-salt-pro, sans-serif;
}
h4 {
  font-family: rock-salt-pro, sans-serif;
}
h5 {
  font-family: skippy-sharp, sans-serif;
}
h6 {
  font-family: marydale, sans-serif;
}
p {
  font-family: typeka, serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

Nav,
header,
footer {
  display: block;
}

/* ########################## NAV BAR ############################### */

nav {
  width: 100%;
  margin: 0;
  position: fixed;
  background-color: #00c6d8;
}

.nav ul {
  overflow: hidden;
  list-style: none;
  font-size: 1.5em;
}

ul.TopNav li{
display: inline;
  line-height: 2em;
  letter-spacing: .5em;
  text-decoration: none;
}

header{
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

.benifits{
  overflow: hidden;
}

.benifits ul{
  float: left;
  list-style: none;
  font-size: 1.5em;
  word-spacing: ;
}


.email-benifit{
  display: block;
  overflow: hidden;
  text-align: center;
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  width: 100%;
}
